---
import "@unocss/reset/tailwind.css";

interface Props {
  title: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global lang="scss">
  @import "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap";
  @import "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap";
  @import "../styles/mixin";

  :root {
    --color-white: #fff;
    --color-black: #151515;
    --color-gray: #1f1f1f;
    --gutter-x: 32px;
    --container-sm: 576px;
    --container-md: 768px;
    --container-lg: 1280px;
    --container-xl: 1440px;
    --container-2xl: 1920px;

    @include media-query("md") {
      --gutter-x: 48px;
    }

    font-family: Mulish, sans-serif;
    color: var(--color-white);
    background-color: var(--color-black);
  }

  *::selection {
    color: var(--color-black);
    background-color: var(--color-white);
  }
</style>
